---
import { getCollection } from "astro:content";

import { TagList } from "@myriaddreamin/tylant";
import { Search } from "@myriaddreamin/tylant";

import BaseHead from "$components/BaseHead.astro";
import Footer from "$components/Footer.astro";
import FormattedDate from "$components/FormattedDate.astro";
import Header from "$components/Header.astro";

import { kUrlBase, kSiteTitle, kSiteDescription, kEnableSearch } from "$consts";

import "$styles/IndexPostList.css";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={kSiteTitle} description={kSiteDescription} />
    <style>
      .posts.loading {
        display: none;
      }
      main.search-enabled {
        padding-top: 0;
      }
      /*  */
      @media (max-width: 600px) {
        .heading {
          display: flex;
          flex-direction: column;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    {kEnableSearch && <Search />}
    <main class={kEnableSearch ? "search-enabled" : ""}>
      <section>
        <ul class={`accent block-list posts${kEnableSearch ? " loading" : ""}`}>
          {
            posts.map((post) => (
              <li
                data-article-id={post.id}
                data-article-meta={JSON.stringify(post.data)}
              >
                <a class="heading" href={`${kUrlBase}/article/${post.id}/`}>
                  <h2>
                    <span class="title">{post.data.title}</span>
                  </h2>
                  <span class="date">
                    <FormattedDate date={post.data.date} />
                  </span>
                </a>
                {post.data.tags && <TagList tags={post.data.tags} />}
                {post.data.description || ""}
              </li>
            ))
          }
        </ul>
        <script is:inline>
          if (!window.location.search) {
            document.querySelector(".posts").classList.remove("loading");
          }
        </script>
      </section>
    </main>
    <Footer />
  </body>
</html>
